<a href="https://colab.research.google.com/github/heber4543/stress_pre_post/blob/main/analisis_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import unicodedata

In [123]:
# extracci√≥n de datos
path = '/content/drive/MyDrive/analisis_datos/estres_pre_post/data.xlsx'
data = pd.read_excel (path, sheet_name=None)
pre = data ['pre']
post = data ['post']

In [125]:
# funcion para quitar acentos
def remove_accents(text):
    return ''.join(c for c in unicodedata.normalize('NFD', text) if unicodedata.category(c) != 'Mn')

# funcion para aplicar todas las transformaciones necesarias
def transform_text(text):
    if isinstance(text, str):
        text = text.lower()
        text = remove_accents(text)
        if text.endswith('.'):
            text = text[:-1]
    return text

In [126]:
# aplicar funcion a ambos df
pre = pre.applymap(transform_text)
post = post.applymap(transform_text)

In [127]:
# eliminar columnas innecesarias
pre = pre.drop(columns=[1.3, 1.4, 1.5, 2.3, 2.4, 3.3,
                        3.4, 6.5, 6.6, 7.5, 11.1, 15.1])
post = post.drop(columns=[1.3, 1.4, 1.5, 2.3, 2.4, 3.3,
                          3.4, 6.5, 6.6, 7.5, 11.1, 15.1])

In [128]:
# guardad nuevas hojas de calculo
pre.to_csv('pre.csv', index=False)
post.to_csv('post.csv', index=False)

In [170]:
# dataframes corregidos
path1 = '/content/drive/MyDrive/analisis_datos/estres_pre_post/pre.csv'
path2 = '/content/drive/MyDrive/analisis_datos/estres_pre_post/post.csv'

pre_new = pd.read_csv (path1)
post_new = pd.read_csv (path2)

In [95]:
pre_new.columns

Index(['NOMBRE', '1.1', '1.2', '2.1', '2.2', '3.1', '3.2', '4.1', '5.1', '5.2',
       '5.3', '5.4', '5.5', '6.1', '6.2', '6.3', '6.4', '7.1', '7.2', '7.3',
       '7.4', '8.1', '8.2', '8.3', '8.4', '8.5', '10.1', '10.2', '10.3',
       '10.4'],
      dtype='object')

In [96]:
post_new.columns

Index(['NOMBRE', '1.1', '1.2', '2.1', '2.2', '3.1', '3.2', '4.1', '5.1', '5.2',
       '5.3', '5.4', '5.5', '6.1', '6.2', '6.3', '6.4', '7.1', '7.2', '7.3',
       '7.4', '8.1', '8.2', '8.3', '8.4', '8.5', '10.1', '10.2', '10.3',
       '10.4'],
      dtype='object')

In [130]:
# cambiar valores con si, a veces, no
reemplazos = {'si': 2, 'a veces': 1, 'no': 0}
columnas_reemplazo = ['1.1', '2.1', '3.1', '5.2', '5.3',
                      '5.4', '7.1', '7.4', '8.1']

def reemplazo (df):
  for i in columnas_reemplazo:
    df[i] = df[i].replace(reemplazos)
    df[i] = pd.Categorical(df[i], categories=[0, 1, 2], ordered=False)
  return df

In [131]:
# cambiar valores con si, no
reemplazos1 = {'si': 1, 'no': 0}
columnas_reemplazo1 = ['5.1', '6.1']

def reemplazo1 (df):
  for i in columnas_reemplazo1:
    df[i] = df[i].replace(reemplazos1)
    df[i] = pd.Categorical(df[i], categories=[0, 1], ordered=False)
  return df

In [146]:
# cambiar valores con todos los dias, una vez por semana, cada 15 dias, nunca
reemplazos2 = {'todos los dias': 3, 'una vez por semana': 2,
               'cada 15 dias': 1, 'nunca': 0}
columnas_reemplazo2 = ['1.2', '2.2', '6.2', '7.2']

def reemplazo2 (df):
  for i in columnas_reemplazo2:
    df[i] = df[i].replace(reemplazos2)
    df[i] = pd.Categorical(df[i], categories=[0, 1, 2, 3], ordered=True)
  return df

In [133]:
# cambiar valores con todos los dias, una vez por semana, cada 15 dias
reemplazos3 = {'todos los dias': 2, 'una vez por semana': 1, 'cada 15 dias': 0}
columnas_reemplazo3 = ['3.2']

def reemplazo3 (df):
  for i in columnas_reemplazo3:
    df[i] = df[i].replace(reemplazos3)
    df[i] = pd.Categorical(df[i], categories=[0, 1, 2], ordered=True)
  return df

In [134]:
# cambiar valores con duermo las horas necesarias, hay dias que no duermo
#lo suficiente, paso varios dias sin dormir
reemplazos4 = {'duermo las horas necesarias': 2,
               'hay dias que no duermo lo suficiente': 1,
               'paso varios dias sin dormir': 0}
columnas_reemplazo4 = ['4.1']

def reemplazo4 (df):
  for i in columnas_reemplazo4:
    df[i] = df[i].replace(reemplazos4)
    df[i] = pd.Categorical(df[i], categories=[2, 1, 0], ordered=True)
  return df

In [135]:
# cambiar valores con varias veces, una vez y nunca
reemplazos5 = {'varias veces': 2, 'una vez': 1, 'nunca': 0}
columnas_reemplazo5 = ['5.5']

def reemplazo5 (df):
  for i in columnas_reemplazo5:
    df[i] = df[i].replace(reemplazos5)
    df[i] = pd.Categorical(df[i], categories=[0, 1, 2], ordered=True)
  return df

In [136]:
# cambiar valores con siempre, frecuentemente, a veces y nunca
reemplazos6 = {'siempre': 3, 'frecuentemente': 2, 'a veces': 1, 'nunca': 0}
columnas_reemplazo6 = ['6.3', '6.4']

def reemplazo6 (df):
  for i in columnas_reemplazo6:
    df[i] = df[i].replace(reemplazos6)
    df[i] = pd.Categorical(df[i], categories=[0, 1, 2, 3], ordered=True)
  return df

In [137]:
# cambiar valores con varias veces al d√≠a, cada que puedo,
# cada vez que me comparten, nunca
reemplazos7 = {'varias veces al d√≠a': 3, 'cada que puedo': 2,
               'cada vez que me comparten': 1, 'nunca': 0}
columnas_reemplazo7 = ['7.3']

def reemplazo7 (df):
  for i in columnas_reemplazo7:
    df[i] = df[i].replace(reemplazos7)
    df[i] = pd.Categorical(df[i], categories=[0, 1, 2, 3], ordered=True)
  return df

In [138]:
# cambiar valores con todos los dias, una o dos veces a la semana, cada 15 dias
reemplazos9 = {'todos los dias': 2, 'una o dos veces a la semana': 1,
               'cada 15 dias': 0}
columnas_reemplazo9 = ['8.2']

def reemplazo9 (df):
  for i in columnas_reemplazo9:
    df[i] = df[i].replace(reemplazos9)
    df[i] = pd.Categorical(df[i], categories=[0, 1, 2], ordered=True)
  return df

In [139]:
# cambiar valores con no tomo, cerveza, tequila o vodka, cualquier cosa
reemplazos10 = {'cualquier cosa': 3, 'no tomo': 2, 'cerveza': 1, 'tequila o vodka': 0}
columnas_reemplazo10 = ['8.3']

def reemplazo10 (df):
  for i in columnas_reemplazo10:
    df[i] = df[i].replace(reemplazos10)
    df[i] = pd.Categorical(df[i], categories=[0, 1, 2, 3], ordered=False)
  return df

In [140]:
# cambiar valores con no tomo, entre 15 y 18 a√±os,
# entre 11 y 15 a√±os, antes de los 11
reemplazos11 = {'entre 15 y 18 anos': 3, 'entre 11 y 15 anos': 2,
                'antes de los 11': 1, 'no tomo': 0}
columnas_reemplazo11 = ['8.4']

def reemplazo11 (df):
  for i in columnas_reemplazo11:
    df[i] = df[i].replace(reemplazos11)
    df[i] = pd.Categorical(df[i], categories=[0, 1, 2, 3], ordered=False)
  return df

In [172]:
# cambiar valores con no tomo, con amigos, con amigos y familiares,
# con amigos, familia y solo
reemplazos12 = {'con amigos, familia y solo': 3, 'con amigos y familiares': 2,
                'con amigos': 1, 'no tomo': 0}
columnas_reemplazo12 = ['8.5']

def reemplazo12 (df):
  for i in columnas_reemplazo12:
    df[i] = df[i].replace(reemplazos12)
    df[i] = pd.Categorical(df[i], categories=[0, 1, 2, 3], ordered=False)
  return df

In [155]:
# cambiar valores con nunca, si en un grupo de amigos / familia,
# si en la escuela / barrio, en todas partes
reemplazos13 = {'en todas partes': 3,
                'si en un grupo de amigos / familia': 2,
                'si en la escuela / barrio': 1, 'nunca': 0}
columnas_reemplazo13 = ['10.1']

def reemplazo13 (df):
  for i in columnas_reemplazo13:
    df[i] = df[i].replace(reemplazos13)
    df[i] = pd.Categorical(df[i], categories=[0, 1, 2, 3], ordered=False)
  return df

In [160]:
# cambiar valores con nunca, si en un grupo de amigos / familia,
# si en la escuela / barrio, en todas partes
reemplazos14 = {'si en todas partes': 3,
                'si a amigos / familia': 2,
                'si en la escuela / barrio': 1, 'nunca': 0}
columnas_reemplazo14 = ['10.2']

def reemplazo14 (df):
  for i in columnas_reemplazo14:
    df[i] = df[i].replace(reemplazos14)
    df[i] = pd.Categorical(df[i], categories=[0, 1, 2, 3], ordered=False)
  return df

In [165]:
# cambiar valores con muchas veces, varias veces, una vez y nunca
reemplazos15 = {'muchas veces': 3,
                'varias veces': 2,
                'una vez': 1, 'nunca': 0}
columnas_reemplazo15 = ['10.3']

def reemplazo15 (df):
  for i in columnas_reemplazo15:
    df[i] = df[i].replace(reemplazos15)
    df[i] = pd.Categorical(df[i], categories=[0, 1, 2, 3], ordered=True)
  return df

In [168]:
# cambiar valores con nunca me he pelado, despues de los 15 anos,
# entre los 11 y los 15 anos, antes los 11
reemplazos16 = {'antes los 11': 3,
                'entre los 11 y los 15 anos': 2,
                'despues de los 15 anos': 1,
                'nunca me he peleado': 0}
columnas_reemplazo16 = ['10.4']

def reemplazo16 (df):
  for i in columnas_reemplazo16:
    df[i] = df[i].replace(reemplazos16)
    df[i] = pd.Categorical(df[i], categories=[0, 1, 2, 3], ordered=False)
  return df

In [ ]:
reemplazo16 (pre_new)
reemplazo16 (post_new)
reemplazo15 (pre_new)
reemplazo15 (post_new)
reemplazo14 (pre_new)
reemplazo14 (post_new)
reemplazo13 (pre_new)
reemplazo13 (post_new)
reemplazo12 (pre_new)
reemplazo12 (post_new)
reemplazo11 (pre_new)
reemplazo11 (post_new)
reemplazo10 (pre_new)
reemplazo10 (post_new)
reemplazo9 (pre_new)
reemplazo9 (post_new)
reemplazo7 (pre_new)
reemplazo7 (post_new)
reemplazo6 (pre_new)
reemplazo6 (post_new)
reemplazo5 (pre_new)
reemplazo5 (post_new)
reemplazo4 (pre_new)
reemplazo4 (post_new)
reemplazo3 (pre_new)
reemplazo3 (post_new)
reemplazo2 (pre_new)
reemplazo2 (post_new)
reemplazo1 (pre_new)
reemplazo1 (post_new)
reemplazo (pre_new)
reemplazo (post_new)